@import 'variables';

#header {
	text-align: left;

	ul > li {
		position: relative;
		z-index: 1000;
		display: inline-block;
		*display: inline; /* ie7 fix */
		*zoom: 1; /* hasLayout ie7 trigger */
		vertical-align: top;
		margin-right: 26px;
	}
}

#about,
#country_club_sandwiches,
#der_party,
#sundown_at_high_noon {
	
	.rotation {
		position: absolute;
	}
	
	.letters {
		display: inline;
		position: relative;
		top: -40px;
		left: 300px;
		opacity: 1;
	}
	
	.sandwiches,
	.party,
	.club,
	.sundown,
	.country {
		display: none;
	}
}
