@import 'variables';

#header {
	text-align: center;
	
	ul,
	ul > li {
	  float:none;
	  display:inline-block;
	  *display:inline; /* ie7 fix */
	  *zoom:1; /* hasLayout ie7 trigger */
	  vertical-align: top;
		margin-right: 15px;
		margin-left: 15px;
	}
}
