// These variables need to be imported to each stylesheet that you want to use them in

$sansFontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$white: #fff;
$red: red;

$linkColor: #08c;

$light_blue: #d9edf7;

$grayLighter: #e7e7e7;