// These variables need to be imported to each stylesheet that you want to use them in

// Colors
$white: #fff;
$wet_asphalt: #34495e;
$midnight_blue: #2c3e50;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$petermann_river: #3498db;
$belize_hole: #2980b9;
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$wisteria: #8e44af;
$green_sea: #16a085;


// Fonts
$serifFontFamily: 'Cutive Mono', 'Courier New', 'Courier', monotype, serif;

// Headlines & Copy
$headingsColor: $wet_asphalt;
$textColor: $midnight_blue;
$linkColor: $asbestos;
$linkColorHover: $concrete;

$gridColumns: 8;
