<% provide(:title, 'About') %>

<p>The Crooked Letters are a recording project that convenes annually in the spring/early summer to write and produce an EP in a weekend. Each year covers a different musical genre and often includes an accompanying music video.</p>

<h1>The Crooked Letters are...</h1>
<ul class="unstyled">
	<li>Jack Reed</li>
	<li>Zach Lever</li>
	<li>Lee McAlilly</li>
</ul>

<h2>Additional Contributors Past &amp; Present</h2>
<ul>
	<li>Ariana Bentz, <em>Sundown at High Noon</em></li>
	<li>Brett Bennett, <em>The Country Club Sandwiches, Sundown at High Noon</em></li>
	<li>David MacNutt, <em>The Country Club Sandwiches</em></li>
	<li>Katie Helow, <em>The Country Club Sandwiches</em></li>
	<li>Matt Welch, <em>Der Party</em></li>
</ul>
</ul>


