<% provide(:title, 'Der Party') %>

<div class="row">
	<div class="span8">
		<%= image_tag('/ccs/ccs_cover.jpg', :alt => "The Country Club Sandwiches") %>
	</div>
	
	<div class="span4">
		
	</div>
</div>
<h2>Der Party</h2>