<% provide(:title, 'Home') %>

<section id="feature">
	<div class="row">
		<div class="span8">
			<p>
				<a href="/sundown-at-high-noon">
					<%= image_tag('sundown/homepage_banner.jpg') %>
				</a>
			</p>
		</div>
	</div>
</section><!--end feature -->

<hr>

<section id="past_projects">
	<div class="row">
		<div class="span4">
			<p>
				<a href="/der-party">
					<%= image_tag('der_party/der_party_cover.jpg') %>
				</a>
			</p>
		</div>
		
		<div class="span4">
			<p>
				<a href="/country-club-sandwiches">
					<%= image_tag('ccs/ccs_cover.jpg') %>
				</a>
			</p>
		</div>
	</div>
</section><!--end feature -->
