<% provide(:title, 'Sundown at High Noon') %>

<section class="overview">
	<div class="row">
		<div class="span3">		
			<a class="artwork" href="http://thecrookedletters.bandcamp.com/album/sundown-at-high-noon"><%= image_tag('sundown/sundown_cover.jpg', :alt => 'Sundown at High Noon Cover Art') %></a>
		</div>

		<div class="span5">
			<h2>Sundown at High Noon</h2>
			<p>Recorded in Jacksonville, FL @ The Bloodpit.</p>
			<p><em>2013</em></p>
		
			<ul class="unstyled">
				<li><i class="icon-music icon-white"></i> <a href="http://thecrookedletters.bandcamp.com/album/sundown-at-high-noon">Music</a></li>
				<li><i class="icon-play icon-white"></i> <a href="#video">Video</a></li>
				<li><i class="icon-asterisk icon-white"></i> <a href="#credits">Credits</a></li>
				<li><i class="icon-picture icon-white"></i> <a href="#photos">Photos</a></li>
			</ul>
		</div>
	</div>
</section>

<hr>
<section id="video">
	<h3>Video</h3>
	<div class="row">
		<div class="span8">
				[ insert video ]
		</div>
	</div>
</section>

<hr>

<section id="credits">
	<h3>Credits</h3>
	
	<div class="row">
		<div class="span8">
			<h4>The Players</h4>
			<ul class="unstyled">
				<li><strong>Harlan Montana:</strong> Lee McAlilly</li>
				<li><strong>Ezekiel Slaight:</strong> Jack Reed</li>
				<li><strong>Gossiping Tadpole:</strong> Zach Lever</li>
				<li><strong>Mr. Isidore Drinnen:</strong> Brett Bennett</li>
				<li><strong>Lollie Meachem:</strong> Arian Bentz</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>Sundown at High Noon</h4>
			<ul class="unstyled">
				<li><strong>Drums:</strong> Brett Bennett</li>
				<li><strong>Bass:</strong> Lee McAlilly</li>
				<li><strong>Acoustic Guitar:</strong> Jack Reed</li>
				<li><strong>Electric Guitar:</strong> Zach Lever</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>Drinnen's Ledger</h4>
			<ul class="unstyled">
				<li><strong>Guitar:</strong> Jack Reed</li>
				<li><strong>Guitar:</strong> Zach Lever</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>Gossiping Tadpole</h4>
			<ul class="unstyled">
				<li><strong>Electric Guitar:</strong> Jack Reed</li>
				<li><strong>Acoustic Guitar:</strong> Zach Lever</li>
				<li><strong>Bass:</strong> Lee McAlilly</li>				
				<li><strong>Bass Drum:</strong> Zach Lever</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>Iron Horse</h4>
			<ul class="unstyled">
				<li><strong>Guitar:</strong> Zach Lever</li>
				<li><strong>Guitar:</strong> Jack Reed</li>
				<li><strong>Organ:</strong> Lee McAlilly</li>				
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span8">
			<h4>High Noon at Sundown</h4>
			<ul class="unstyled">
				<li><strong>Guitar:</strong> Zach Lever</li>
				<li><strong>Guitar:</strong> Jack Reed</li>
				<li><strong>Drum:</strong> Lee McAlilly</li>				
			</ul>
		</div>
	</div>
</section>