<header id="header">	
	<div class="container">
		<div class="title_wrap">
			<h1 class="title">
		    <a href="/">
				The Crooked
			    <div class="rotation rotation-1">
						<span class="letters">Letters</span>
						<span class="sandwiches">Sandwiches</span>
						<span class="party">Party</span>
						<span class="club">Club</span>
						<span class="sundown">Sundown</span>
						<span class="country">Country</span>
			    </div>
				</a>
	    </h1>
		</div>
		
    <nav>
			<ul class="unstyled">
				<li><%= link_to "Sundown at High Noon", sundown_at_high_noon_path %></li>
				<li><%= link_to "Der Party", der_party_path %></li>
				<li><%= link_to "The Country Club Sandwiches", country_club_sandwiches_path %></li>
			</ul>
    </nav>
		<hr>
	</div><!-- container -->
</header>